In [1]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd

In [2]:
website_url = 'https://countrymusichalloffame.org/hall-of-fame/members/'
response = requests.get(website_url)

response.status_code

200

In [3]:
artists = BeautifulSoup(response.content, 'lxml')
print(artists.title)

<title>Hall of Fame Members | Country Music Hall of Fame</title>

In [4]:
# print(artists)

In [17]:
names = artists.find_all('div', attrs = {'class': 'vertical-card_content--title'})
# print(names)

In [18]:
dates = artists.find_all('div', attrs = {'class': 'vertical-card_content--copy'})
# print(dates)

In [7]:
artist = []
for i in range(len(names)):
    name = names[i].get_text().replace("\n", "").strip()
    artist.append(name)
print(artist)

['Roy Acuff', 'Alabama', 'Bill Anderson', 'Eddy Arnold', 'Chet Atkins', 'Gene Autry', 'DeFord Bailey', 'Bobby Bare', 'Johnny Bond']

In [8]:
year = []
for i in range(len(dates)):
    date = dates[i].get_text().replace("\n", "").strip()
    year.append(date)
print(year)

# year = []
# for element.text in years_list:
#     year.append(element.strip())

# print(year)

['Inducted 1962', 'Inducted 2005', 'Inducted 2001', 'Inducted 1966', 'Inducted 1973', 'Inducted 1969', 'Inducted 2005', 'Inducted 2013', 'Inducted 1999']

In [9]:
# year = []
# for element.text in years_list:
#     year.append(element.strip())

# print(year)

In [10]:
# type(names)

In [11]:
# len(names)

In [12]:
# result_list= pd.read_html(str(names[3])) # a list of dataframes
# len(result_list)

In [13]:
HOF =pd.DataFrame(list(zip(artist,year)),columns=['Name','Inducted'])
HOF
# names_dates_df = pd.DataFrame([names,dates]).T
# names_dates_df.columns=['Name','Inducted']
# names_dates_df

            Name       Inducted
0      Roy Acuff  Inducted 1962
1        Alabama  Inducted 2005
2  Bill Anderson  Inducted 2001
3    Eddy Arnold  Inducted 1966
4    Chet Atkins  Inducted 1973
5     Gene Autry  Inducted 1969
6  DeFord Bailey  Inducted 2005
7     Bobby Bare  Inducted 2013
8    Johnny Bond  Inducted 1999

In [14]:
# HOF['Name'] = HOF['Name'].astype('str')

In [15]:
HOF['Inducted'].replace('Inducted ', '', regex=True, inplace=True)

In [16]:
HOF

            Name Inducted
0      Roy Acuff     1962
1        Alabama     2005
2  Bill Anderson     2001
3    Eddy Arnold     1966
4    Chet Atkins     1973
5     Gene Autry     1969
6  DeFord Bailey     2005
7     Bobby Bare     2013
8    Johnny Bond     1999